# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Science use are:
1) Python
2) SQL
3) R

**Objectives**:
- List popular languages for Data Science
- List commonly used libraries used by Data Scientist
- List commonly used Data Science tools
- Evaluate Arithmetic expression in Python

Some of the commonly used libraries used by Data Scientist include:
1) Pandas
2) ggplot2
3) TenserFlow

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| Apache Spark       |
| R Studio           |

### Below are few examples of evaluating arithmetic expression in Python.

In [9]:
# This is a simple arithmetic expression to multiply then add integers
result = (3*4)+5
result

17

In [10]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200/60
hours

3.3333333333333335

## Author
Stephen